﻿@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spinner {
    animation: spin 1s infinite;
    -o-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    -webkit-animation: spin 1s infinite;
}