﻿@inherits WebViewPage<uBeSocial.ViewModels.DashboardViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>uBeSocial Dashboard</title>

    <!-- Umbraco Styles -->
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Ui/default.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/modal/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Scrollingmenu/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Propertypane/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Panel/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Tabview/style.css" />

    <!-- Bootstrap Files-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/UBeSocialStaticResources/bootstrap/styles/bootstrap.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/UBeSocialStaticResources/styles/site.css")" />
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/jquery/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/UBeSocialStaticResources/bootstrap/scripts/bootstrap.min.js")"></script>
</head>
<body class="umbracoPage">
    <div class="header">
        <ul>
            <li class="tabOn"><a><span>uBeSocial Dashboard</span></a></li>
        </ul>
    </div>
    <div class="tabpagecontainer">
        <div class="tabpage" style="display: block;">
            <div class="menubar"></div>
            <div class="tabpagescrollinglayer">
                <div class="tabpageContent" data-controller="uBeSocial">
                    <div class="propertyPane" style="padding: 0 10px 10px 10px;">
                        <header></header>
                        <div style="margin-bottom: 20px;">
                            <h1>uBeSocial</h1>
                            <p>uBeSocial is an Umbraco back-office plugin that allows content editors to easily link to content within Umbraco and posts messages to all social media accounts at once. To post a message, select your social networks, enter your message and linked content, and submit.</p>
                            <div data-ubesocial-role="statusMessages">
                                <!-- Status messages will be added here by JS controller after message submission -->
                            </div>
                            <form class="form-horizontal" data-ubesocial-role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Networks:</label>
                                    <div class="col-sm-10" data-ubesocial-role="networks">
                                        <!-- Social Network checkboxes will be added here by JS controller -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Message:</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group btn-group-sm" role="group" style="margin-bottom: 5px;">
                                            <button type="button" class="btn btn-primary glyphicon glyphicon-link" title="Link to Content" data-ubesocial-role="addcontent"></button>
                                            <button type="button" class="btn btn-primary glyphicon glyphicon-picture" title="Link to Media" data-ubesocial-role="addmedia"></button>
                                        </div>
                                        <textarea class="form-control" data-ubesocial-role="message" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2">
                                    <button type="button" class="btn btn-primary" data-ubesocial-role="reset">Reset</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <footer>
                            <code>uBeSocial Version @Model.Version</code>
                        </footer>
                        <div class="modal fade" id="attachContentModal" tabindex="-1" role="dialog" aria-labelledby="modalHeader" data-ubesocial-role="attach">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="modalHeader">Attach Content/Media</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="hidden" data-treenode-role="template">
                                            <div>
                                                <div>
                                                    <i style="cursor: pointer;" class="glyphicon glyphicon-menu-right" data-treenode-role="expand"></i>
                                                    <button class="btn btn-link" data-treenode-role="select"></button>
                                                    <i class="glyphicon glyphicon-refresh spinner" data-treenode-role="refresh"></i>
                                                </div>
                                                <div style="padding-left: 15px;" data-treenode-role="children">
                                                    <!-- Child nodes will be injected here -->
                                                </div>
                                            </div>
                                        </div>
                                        <div data-addcontent-role="content">
                                            <!-- Content/media nodes will be injected here -->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="status">
        </div>
    </div>

    <script>
        var SETTINGS = {};
        @foreach (var setting in Model.Settings)
        {
            @:SETTINGS['@setting.Key'] = @Html.Raw(Json.Encode(setting.Value));
                }
    </script>

    @foreach (var dependency in Model.Dependencies)
    {
        <script src="@Url.Content(dependency)"></script>
    }
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/App.js")"></script>
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/utils/TreeApi.js")"></script>
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/views/TreeNodeView.js")"></script>
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/controllers/uBeSocialController.js")"></script>
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/controllers/AttachContentModalController.js")"></script>
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/posters/BasePoster.js")"></script>
    @foreach (var poster in Model.Posters)
    {
        <script src="@Url.Content(poster)"></script>
    }
    @*<script src="@Url.Content("~/UBeSocialStaticResources/posters/TwitterPoster.js")"></script>*@

    <script>
        var app = new uBeSocial.App();
    </script>
</body>
</html>