﻿@inherits WebViewPage<uBeSocial.ViewModels.TwitterDashboardViewModel>
@{
    Layout = null;
    var successMessage = TempData["Success"] as string;
}
<!DOCTYPE html>
<html>
<head>
    <title>uBeSocial Twitter Configuration</title>

    <!-- Umbraco Styles -->
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Ui/default.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/modal/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Scrollingmenu/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Propertypane/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Panel/style.css" />
    <link type="text/css" rel="stylesheet" href="/umbraco_client/Tabview/style.css" />

    <!-- Bootstrap Files-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/UBeSocialStaticResources/bootstrap/styles/bootstrap.min.css")" />
    <script src="@Url.Content("~/UBeSocialStaticResources/scripts/jquery/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/UBeSocialStaticResources/bootstrap/scripts/bootstrap.min.js")"></script>
</head>
<body class="umbracoPage">
    <div class="header">
        <ul>
            <li class="tabOn"><a><span>uBeSocial Twitter Configuration</span></a></li>
        </ul>
    </div>
    <div class="tabpagecontainer">
        <div class="tabpage" style="display: block;">
            <div class="menubar"></div>
            <div class="tabpagescrollinglayer">
                <div class="tabpageContent">
                    <div class="propertyPane" style="padding: 0 10px 10px 10px;">
                        <header></header>
                        <div>
                            <h1>uBeSocial Twitter</h1>
                            @if (!string.IsNullOrWhiteSpace(successMessage))
                            {
                                <div class="alert alert-success">
                                    @successMessage
                                </div>
                            }
                            <p>Select the user you would like to use to tweet content using uBeSocial. If you have not created any users yet, you can create them in the left sidebar by right clicking on the Twitter node and clicking create.</p>
                            @using (Html.BeginForm("Index", "UBeSocialTwitter", FormMethod.Post, new {@class = "form-horizontal"}))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="control-label col-sm-2">User:</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(m => m.UserId, Model.Users, new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <footer>
                            <code>uBeSocial Version @Model.Version</code>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="status">
        </div>
    </div>
</body>
</html>